ExpDir=.
NdlDir=./configs

smoothFactor=0.1
origModelName=cntk_model/cntk.nnet
modelName=cntk_model/cntk.sequence

momentum=0.9
lratePerSample=0.000002*6
maxEpochs=50
l2RegWeight=0.00001
dropoutRate=0

featDim=880
inputCounts=cntk_train.counts
inputFeats=cntk_train.feats
featureTransform=NO_FEATURE_TRANSFORM

labelDim=4715
inputLabels=cntk_train.labels
labelMapping=cntk_label.mapping

InputDenLats=cntk_train.denlats
InputAli=cntk_train.ali
kaldiModel=final.mdl
silPhoneList=1:2:3:4:5:6:7:8:9:10

criterion=smbr

minibatchSize=20
truncated=true
evaluatePeriod=100
acwt=0.1
oneSilenceClass=true
clippingThresholdPerSample=0.05
